

.allAlbumsContainer{
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    gap: 1%
}

.createAlbumContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

.albumCardContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    height: 15em;
    width: 10em;
    margin-bottom: 2%;


    /* margin: 1% 1%; */
}

.titleContainer {
    text-align: center;
}

.albumCardInnerContainer {
    width: 90%;
    height: 90%;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.albumCardImage img{
    width: 100%;
    height: 10em;
}

.albumCardImage:hover {
    cursor: pointer;
}

.albumLink {
    text-decoration: none;
    font-weight: 100;
    color: black;
}
.playButtonContainer {
    display:none;
    position: absolute;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.albumCardContainer:hover .playButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}
#playButton {
    height: 50px;
    width: 50px;
}


.titleContainer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    gap: 30px;
    padding-bottom: 1%;

}

.titleText {
    text-decoration: none;
    color: black;
}
