.signupButton {
    background-color: #f50;
    border-color: #f50;
    color: #fff;
}

/* .formContainer {
    width: 400px;
    max-width: 400px;
} */

.signupForm {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 20px 20px;
    width: 400px;
}

.signUpLabels {
    width: 80%;
    /* margin: 0 0 10%; */
    /* left: 0; */
}

.inputField {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    padding: 7px 8px;

}

.submitButton {
    background-color: #f50;
    border-color: #f50;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 18px;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    margin-top: 10%;
}


.signUpErrors > ul {
    padding-left: 0;
}

.signUpErrors > ul > li{
    color: red;
    text-decoration: none;
    list-style: none;
    text-align: left;
}
