

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border:blue solid;
    min-height: 100%;
    background-color: white;
    width: 100%;
    height: 100%;
    /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Lichfield_Cathedral_Choir_2%2C_Staffordshire%2C_UK_-_Diliff.jpg); */

}


.homePageContainer {
    background-color: white;
    width: 80%;
    border: red solid;
    margin: 10%;
    height: 100% !important;
}

.footer {
    background-color: orange;
    bottom: 0;
    height:60px;
}


.background-image {
    background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_featured_artists-8081257b.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 450px;
    overflow: hidden;
}

.textContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: whitesmoke;
    font-size: 36px;
    font-weight: 100;
}

.homePageHeaderText {
    margin-top: 9%;
    margin-bottom: 8px;
    /* font-size: 36px; */
    font-size: calc(3vw + 3vh);
    font-weight: 100;
}

.homePageText {
    max-width: 530px;
    font-size: 18px;
}

.background {
    height: 450px;
}
