.songPlayerWrapper {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.songPlayer {
    position: sticky;
    bottom: 0;
    width: 100%;
}
